html {
  scroll-behavior: smooth;
}
.header-img {
  width: 100%;
  height: 700px;
  background: url('https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') center center fixed;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
body{
     overflow-x:hidden;
}
header{
    /*here we setting the parent position*/
    position: relative;
}
.header {
    background-color: rgb(1,25,54); /* Fallback color */
    background-color: rgba(1,25,54, 0.3); /* Black w/opacity/see-through */
    border: 3px  #011936;
    font-size: 23px;
    color: white;
    text-align: center;
    width: 45%;
    height: 45%;
    /*here we setting the child position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* add the menu part*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(1,25,54);
  background-color: rgba(1,25,54, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    background-color: white;
    color: #f48c06;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*add X menu*/
.container {
    position: absolute;
    top: 7%;
    right: 0px;
    transform: translate(-50%, -50%);
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:  rgb(1,25,54);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*-------------------------------------*/
.header h1 {
    padding-top: 50px;
}
#section1 {
    height: 700px;
    background-color: white;
}
.tagline{
    padding-top: 50px;
    padding-left:100px;
}
#about{
    color:#f48c06;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: rgb(1,25,54);
}
#link-color a:hover{
    color: #f48c06;
}
.clear p {
    padding: 90px 0;
    font-size: 25px;
}
.img1{
    float: right;
    padding-right: 100px;
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}
/*add the top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
}
.fa-arrow-up{
    font-size: 45px;
    color: #f48c06;
}

.fa-arrow-up:hover {
    color: #9fc490;
}
/*---------------------------*/
#section2 {
    height: 700px;
    background-color: #82A3A1;
}
#skills{
    color:white;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(1,25,54);
}
.skills{
    padding-top: 50px;
}
.skills p{
    text-align: center;
    font-size: 27px;
    color:rgb(1,25,54);
    font-weight:bold;
}
/*add the skills content */
.skills-padding{
    padding-left: 90px;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 22%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.skills-type{
    padding-right: 10px;
    padding-top: 28px;
    font-size: 25px;
    float: right;
    color: #465362;

}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/*-----------------------------*/
#section3 {
    height: 700px;
    background-color: #011936;
}
.contact{
    padding-top: 50px;
    padding-left:100px;
}
#contactme{
    color:white;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #f48c06;
}
.contact p{
    color: white;
    font-size: 27px;
}
.fa-linkedin-square,.fa-github-square {
    padding-left: 13px;
    font-size: 60px;
    color: white;
    cursor: pointer;
}
.fa-linkedin-square:hover,.fa-github-square:hover{
    color:#82A3A1;
}
.icon-padding{
    padding-top: 50px;
    padding-left: 190px;
}
